body {
    background-color: var(--cinza);
}
:root {
    --fonte-titulo: "Bebas Neue", sans-serif;
    --rosa: hotpink;
    --ouro: gold;
    --cinza: gray;
    --verde: chartreuse;
    --azul-claro: cornflowerblue;
}

.conteudo-titulo {
    font-family: var(--fonte-titulo);
    text-align: center;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--rosa);
}

#campo-senha {
    background-color: var(--azul-claro);
    padding: 8px;
    width: 300px;
    font-family: var(--fonte-titulo);
    border: none;
    font-size: 25px;
}

.conteudo-senha {
    background-color: var(--azul-claro);
    padding: 20px;
    border-radius: 20px;
    margin: 50px;
    border-bottom: 6px solid var(--ouro);
}